<div class="card principal p-5">
  <h2 class="mt-4">Bem Vindo ao WordWise!</h2>
  <div class="text-center mt-3">
    Esta aplicação foi projetada para oferecer uma experiência personalizada,
    ajudando você a alcançar seus objetivos de aprendizagem de forma eficaz.<br>Para começar,
    pedimos que você preencha um breve questionário. Ele nos ajudará a conhecer um pouco
    mais sobre você, seus interesses e suas metas.
  </div>
  <div class="mt-4">
    <button class="btn" style="background-color: #ffa1b7" (click)="init()">Vamos lá!</button>
  </div>
</div>
